<section class="hero-image d-flex align-items-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4" style="color: white;">Passport Seva</h1>
        <p class="fs-2" style="color: white;">Ministry of External Affairs, Government of India</p>
      </div>
      <div class="col-12 mt-4">
        <a href="#" class="btn btn-lg mr-3" style="color: white; background-color: blueviolet;">Get More...</a>
        
      </div>
    </div>
  </div>
</section>

<section class="about-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <div class="about-image">
            <img src="../../../assets/images/passport.jpg" class="img-fluid h-100" alt="About Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-content">
            <h2 class="section-title mb-4">About Us</h2>
            <p>In recent years, the Government of India has taken many initiatives to usher in an era of e-Governance to improve the delivery of public services. The National e-Governance Plan (NeGP) includes many high impact e-Governance projects that have been identified as Mission Mode Projects (MMP's). One such project focuses on reforming Passport services in India.</p>
            <p>The Ministry of External Affairs (MEA) is responsible for issuance of Passports to Indian Citizens through a network of 36 Passport offices across the Country and 190 Indian Missions and Posts abroad.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<div class="container my-5">
  <h3 class="text-left mb-4">Gallery Section:</h3>

  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 border-0">
        <img src="https://i.ndtvimg.com/i/2017-05/sushma-swaraj_650x400_61495531044.jpg" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <!-- Card content here -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 border-0">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvRLGkpr3mfcjscl0UjA2Im8cz3U8WLi3udg&usqp=CAU" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <!-- Card content here -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 border-0">
        <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2019/06/jaishankarpti-k8bc-621x414-livemint-1561372178.jpg" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <!-- Card content here -->
        </div>
      </div>
    </div>
 
  
  </div>
</div>
