<section class="about-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <div class="about-image">
            <img src="../../../assets/images/passport.jpg" class="img-fluid h-100" alt="About Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-content">
            <h2 class="section-title mb-4">About Us</h2>
            <p>In recent years, the Government of India has taken many initiatives to usher in an era of e-Governance to improve the delivery of public services. The National e-Governance Plan (NeGP) includes many high impact e-Governance projects that have been identified as Mission Mode Projects (MMP's). One such project focuses on reforming Passport services in India.</p>
            <p>The Ministry of External Affairs (MEA) is responsible for issuance of Passports to Indian Citizens through a network of 36 Passport offices across the Country and 190 Indian Missions and Posts abroad.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  